data/carsScheme.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Autos">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Auto" maxOccurs="unbounded" minOccurs="0">
          <xs:annotation>
            <xs:documentation>erstes Auto Element Porsche 718 Cayman  zweites Auto Element Porsche 911 Carrera  drittes Auto Element Audi A1 Sportback grau viertes Auto Element Audi A1 Sportback gelb fünftes Auto Element Mercedes Benz S-Klasse weiss sechstes Auto Element Mercedes Benz S-Klasse schwarz</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="img"/>
              <xs:element type="xs:string" name="Marke"/>
              <xs:element type="xs:string" name="Modell"/>
              <xs:element type="xs:string" name="Preis"/>
              <xs:element type="xs:string" name="Zustand"/>
              <xs:element type="xs:short" name="Erstzulassung"/>
              <xs:element type="xs:string" name="Kilometerstand"/>
              <xs:element type="xs:string" name="Farbe"/>
              <xs:element type="xs:string" name="Höchstgeschwindigkeit" minOccurs="0"/>
              <xs:element type="xs:string" name="Leistung"/>
              <xs:element type="xs:string" name="Getriebe"/>
              <xs:element type="xs:string" name="BeschleunigungAufHundert"/>
              <xs:element type="xs:string" name="Hoechstgeschwindigkeit"/>
              <xs:element type="xs:string" name="Emissionsklasse"/>
              <xs:element type="xs:string" name="Kraftstoffart"/>
              <xs:element name="KraftstoffverbrauchNEFZ">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="Innerorts"/>
                    <xs:element type="xs:string" name="Ausserorts"/>
                    <xs:element type="xs:string" name="Kombiniert"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="ID" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

